# This file is used to ignore files which are generated

# ----------------------------------------------------------------------------



*~

*.autosave

*.a

*.core

*.moc
*.obj
*.exe
*.dll

# Makefiles
[Mm]akefile*
*.Debug
*.Release

# Executables  
FlightClient.exe
FlightServer.exe

# System files
.DS_Store
Thumbs.db


